@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    background-color: #ffffff;
    font-family: "Montserrat";
}

.hero-content {
    width: 100%;
    /* height: 400px; */
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero-title {
    padding: 15% 5% 5% 5%;
    font-size: 2rem;
    color: red;
}

.hero-title p {
    color: #202020;
    font-size: 1rem;
}


.hero-img {
    /* width: 90%; */
    /* height: 90%; */
    /* padding-top: 20px; */
}

.hero-left {
    /* height: 400px; */
    /* color: #ffffff; */
    /* background-color: red; */
}

.hero-right {
    /* height: 400px; */
    text-align: center;
    /* background-color: blue; */
}

.hero-right img {
    width: 90%;
}

@media screen and (min-width: 481px) {
    .hero-left {
        float: left;
        width: 50%;
    }

    .hero-right {
        float: right;
        width: 50%;
    }
}


@media screen and (max-width: 480px) {
    .hero-left {
        width: 100%;
        text-align: center;
        max-height: 200px;
        padding-top: 25px;
    }

    .hero-right {
        width: 100%;
    }
}